@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body {
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(0, 0%, 100%);
    width: 300px;
    margin: auto;
    border-radius: 20px;
}
img {
    max-width: 280px;
    padding: 10px;
    border-radius: 10%;
}
h1 {
    max-width: 350px;
    font-size: 20px;
    font-family: outfit;
    align-self: center;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
p {
    max-width: 350px;
    padding: 10px;
    padding-bottom: 37px;
    font-size: 15px;
    font-family: outfit;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin: 0;

}